{"openapi":"3.0.0","paths":{"/v1/compliance/screen-address":{"post":{"description":"Screen a blockchain address for compliance risks.","operationId":"ComplianceController_screenBlockchainAddress","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScreenBlockchainAddressDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/screenBlockchainAddressEntity"}}}}]}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Screen a blockchain address","tags":["Address Screening"]}}},"info":{"title":"Compliance","description":"OpenXSwitch Developer API Reference for Compliance ","version":"1.0","contact":{}},"tags":[{"name":"Compliance","description":""},{"name":"Smart Account - Wallets","description":""},{"name":"Smart Account - Transactions","description":""}],"servers":[{"url":"https://api.openxswitch.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"InternalServerErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":500},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"screenBlockchainAddressEntity":{"type":"object","properties":{"category":{"type":"string","description":"Category of the address","example":"Sanctioned entity category"},"name":{"type":"string","description":"Name associated with the address","example":"Sanctioned entity name"},"description":{"type":"string","description":"Description of the address","example":"Sanctioned entity description"},"url":{"type":"string","description":"URL associated with the address","example":"https://home.treasury.gov/news/press-releases/..."}},"required":["category","name","description","url"]},"ScreenBlockchainAddressDto":{"type":"object","properties":{"address":{"type":"string","description":"This is the blockchain address to be screened","example":"0x1234567890123456789012345678901234567890"}},"required":["address"]}}},"externalDocs":{"description":"Postman Collection","url":"/docs/smart-account/swagger.json"},"security":[{"bearer":[]}]}