{"openapi":"3.0.0","paths":{"/v1/compliance/watch-list":{"post":{"description":"Add a blockchain address to the watchlist for compliance risks.","operationId":"ComplianceController_AddToWatchList","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddToWatchListDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/WatchListEntity"}}}]}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Add a blockchain address to the watchlist","tags":["Compliance"]},"get":{"description":"Get watchlist item.","operationId":"ComplianceController_getWatchList","parameters":[{"name":"id","required":true,"in":"query","description":"This is the ID of the watchlist","schema":{"example":"6a0c7c45f82132956d0ee5ea","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/WatchListEntity"}}}]}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get watchlist item","tags":["Compliance"]},"delete":{"description":"Remove an address from the watchlist for compliance risks.","operationId":"ComplianceController_deleteWatchList","parameters":[{"name":"id","required":true,"in":"query","description":"This is the ID of the watchlist","schema":{"example":"6a0c7c45f82132956d0ee5ea","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/SuccessEntity"}}}]}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Remove an address from the watchlist","tags":["Compliance"]}},"/v1/compliance/watch-list/list":{"get":{"description":"Get watchlist list.","operationId":"ComplianceController_getWatchListList","parameters":[{"name":"address","required":false,"in":"query","description":"This is the blockchain address to be whitelisted/Blocked","schema":{"example":"0x1234567890123456789012345678901234567890","type":"string"}},{"name":"type","required":false,"in":"query","description":"This is the type of watchlist","schema":{"example":"block","type":"string","enum":["allow","block"]}},{"name":"pageNo","required":false,"in":"query","description":"The page number for pagination","schema":{"type":"string"}},{"name":"pageLimit","required":false,"in":"query","description":"The number of items per page for pagination","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResponseDto"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WatchListEntity"}}}}]}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get watchlist list","tags":["Compliance"]}}},"info":{"title":"Compliance","description":"OpenXSwitch Developer API Reference for Compliance ","version":"1.0","contact":{}},"tags":[{"name":"Compliance","description":""},{"name":"Smart Account - Wallets","description":""},{"name":"Smart Account - Transactions","description":""}],"servers":[{"url":"https://api.openxswitch.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"InternalServerErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":500},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"ResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object"}},"required":["success","data"]},"WatchListEntity":{"type":"object","properties":{"id":{"type":"string","description":"ID of the watchlist","example":"6a0c7c45f82132956d0ee5ea"},"address":{"type":"string","description":"Address of the watchlist","example":"0x123..."},"label":{"type":"string","description":"Label of the watchlist","example":"Sanctioned entity"},"type":{"type":"string","description":"Type of the watchlist","example":"allow"},"reason":{"type":"string","description":"Reason for adding to watchlist","example":"Sanctioned entity"},"workspaceId":{"type":"string","description":"Workspace ID","example":"1"},"createdAt":{"type":"object","description":"Created at","example":"2022-01-01"},"updatedAt":{"format":"date-time","type":"string","description":"Updated at","example":"2022-01-01"}},"required":["id","address","label","type","reason","workspaceId","createdAt","updatedAt"]},"AddToWatchListDto":{"type":"object","properties":{"label":{"type":"string","description":"This is the label for the watchlist","example":"Entity Name"},"type":{"type":"string","description":"This is the type of watchlist","enum":["allow","block"],"example":"block"},"address":{"type":"string","description":"This is the blockchain address to be whitelisted/Blocked","example":"0x1234567890123456789012345678901234567890"},"reason":{"type":"string","default":"Trusted","description":"This is the reason for adding to watchlist","example":"Wallet used by the sanctioned entity"}},"required":["label","type","address"]},"PaginatedResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object"}},"totalPage":{"type":"number"},"pageNo":{"type":"number"},"pageLimit":{"type":"number"}},"required":["success","data","totalPage","pageNo","pageLimit"]},"SuccessEntity":{"type":"object","properties":{}}}},"externalDocs":{"description":"Postman Collection","url":"/docs/smart-account/swagger.json"},"security":[{"bearer":[]}]}