{"openapi":"3.0.0","paths":{"/v1/webhook/resend":{"post":{"description":"Resend webhook - from webhook history.","operationId":"WebhookController_resendWebhook","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendWebhookDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/ResendWebhookEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Resend webhook","tags":["Webhook Endpoints"]}}},"info":{"title":"Webhook","description":"OpenXSwitch Developer API Reference for Webhook ","version":"1.0","contact":{}},"tags":[{"name":"Webhook","description":""}],"servers":[{"url":"https://api.openxswitch.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"BadErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":400},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"NotFoundErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":404},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"Cannot GET /v1/..."}},"required":["statusCode","path","timestamp","message"]},"UnprocessedEntityErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":422},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"example":["param is required"],"type":"array","items":{"type":"string"}}},"required":["statusCode","path","timestamp","message"]},"InternalServerErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":500},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"ResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object"}},"required":["success","data"]},"ResendWebhookEntity":{"type":"object","properties":{"requestId":{"type":"string","description":"Unique webhook request Id - from webhook history."}},"required":["requestId"]},"ResendWebhookDto":{"type":"object","properties":{"requestId":{"type":"string","description":"Unique Webhook request id - from webhook history."}},"required":["requestId"]}}},"externalDocs":{"description":"Postman Collection","url":"/docs/webhook/swagger.json"},"security":[{"bearer":[]}]}