{"openapi":"3.0.0","paths":{"/v1/instant-swap/quote":{"get":{"description":"Returns a real-time quote for converting a given amount of a source coin into a target coin. Includes estimated fee, swap price, and output amount.","operationId":"InstantSwapController_getQuote","parameters":[{"name":"fromCoin","required":true,"in":"query","description":"Source coin symbol","schema":{"example":"USDT","type":"string"}},{"name":"fromAmount","required":true,"in":"query","description":"Amount of the source coin","schema":{"example":100,"type":"string"}},{"name":"toCoin","required":true,"in":"query","description":"Target coin symbol","schema":{"example":"ETH","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/GetInstantSwapQuoteEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get instant swap quote price","tags":["Instant-swap Endpoints"]}},"/v1/instant-swap/currencies":{"get":{"description":"Returns a list of all available coins and their minimum, maximum, and current available liquidity for instant swaps.","operationId":"InstantSwapController_getCurrencies","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResponseDto"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GetSupportedCurrenciesEntity"}}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get supported instant swap currencies","tags":["Instant-swap Endpoints"]}},"/v1/instant-swap":{"post":{"description":"Executes an instant swap based on a previously fetched quote or directly using coin and amount inputs. Returns swap confirmation with details.","operationId":"InstantSwapController_createSwap","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstantSwapDto"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/CreateInstantSwapEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Create a new instant swap order","tags":["Instant-swap Endpoints"]}},"/v1/instant-swap/order":{"get":{"description":"Returns the full details of a particular swap transaction using the swapId and walletId.","operationId":"InstantSwapController_getOrder","parameters":[{"name":"swapId","required":true,"in":"query","description":"Swap ID to retrieve the order","schema":{"example":"swap_xyz456","type":"string"}},{"name":"walletId","required":true,"in":"query","description":"Wallet/Sub-wallet ID associated with the swap","schema":{"example":"wallet_abc123","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/GetInstantSwapOrderEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get a specific instant swap order","tags":["Instant-swap Endpoints"]}},"/v1/instant-swap/order/list":{"get":{"description":"Fetches the list of instant swaps performed by a wallet. You can optionally filter by fromCoin, toCoin, or swapId.","operationId":"InstantSwapController_getOrderHistory","parameters":[{"name":"walletId","required":true,"in":"query","description":"Wallet/Sub-wallet ID","schema":{"example":"wallet_abc123","type":"string"}},{"name":"fromCoin","required":false,"in":"query","description":"Optional source coin filter","schema":{"example":"USDT","type":"string"}},{"name":"toCoin","required":false,"in":"query","description":"Optional target coin filter","schema":{"example":"BTC","type":"string"}},{"name":"swapId","required":false,"in":"query","description":"Optional swap ID to fetch a specific swap","schema":{"example":"swap_xyz456","type":"string"}},{"name":"pageNo","required":false,"in":"query","description":"The page number for pagination","schema":{"example":1,"type":"string"}},{"name":"pageLimit","required":false,"in":"query","description":"The number of items per page for pagination","schema":{"example":20,"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResponseDto"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/GetInstantSwapOrderEntity"}}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get instant swap order history","tags":["Instant-swap Endpoints"]}}},"info":{"title":"InstantSwap","description":"OpenXSwitch Developer API Reference for Instant swap ","version":"1.0","contact":{}},"tags":[{"name":"InstantSwap","description":""}],"servers":[{"url":"https://api.openxswitch.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"BadErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":400},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"NotFoundErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":404},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"Cannot GET /v1/..."}},"required":["statusCode","path","timestamp","message"]},"UnprocessedEntityErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":422},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"example":["param is required"],"type":"array","items":{"type":"string"}}},"required":["statusCode","path","timestamp","message"]},"InternalServerErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":500},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"ResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object"}},"required":["success","data"]},"Function":{"type":"object","properties":{}},"GetInstantSwapQuoteEntity":{"type":"object","properties":{"fee":{"type":"string","description":"Swap fee in source currency","example":"0.0"},"fromCoin":{"type":"string","description":"Coin to swap from","example":"USDT"},"fromAmount":{"description":"Amount to swap from","example":"100","allOf":[{"$ref":"#/components/schemas/Function"}]},"toCoin":{"type":"string","description":"Target coin to receive","example":"ETH"},"toAmount":{"description":"Amount to receive after swap","example":"0.0234","allOf":[{"$ref":"#/components/schemas/Function"}]},"swapPrice":{"description":"Calculated swap price","example":"0.000234","allOf":[{"$ref":"#/components/schemas/Function"}]}},"required":["fee","fromCoin","fromAmount","toCoin","toAmount","swapPrice"]},"PaginatedResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object"}},"totalPage":{"type":"number"},"pageNo":{"type":"number"},"pageLimit":{"type":"number"}},"required":["success","data","totalPage","pageNo","pageLimit"]},"GetSupportedCurrenciesEntity":{"type":"object","properties":{"coin":{"type":"string","description":"Coin symbol","example":"ETH"},"maxAmount":{"type":"string","description":"Maximum amount allowed per swap","example":"5"},"minAmount":{"type":"string","description":"Minimum amount allowed per swap","example":"0.0005"}},"required":["coin","maxAmount","minAmount"]},"CreateInstantSwapEntity":{"type":"object","properties":{"id":{"type":"string","description":"Unique swap ID","example":"swap_abc123"},"extId":{"type":"string","description":"Unique ext ID","example":"ext_abc123"},"fee":{"type":"string","description":"Fee charged for the swap","example":"0.0"},"fromCoin":{"type":"string","description":"Coin to swap from","example":"USDT"},"fromAmount":{"type":"string","description":"Amount swapped from","example":"100"},"toCoin":{"type":"string","description":"Coin to swap to","example":"ETH"},"toAmount":{"type":"string","description":"Amount received after swap","example":"0.0234"},"swapPrice":{"type":"string","description":"Swap rate used during transaction","example":"0.000234"},"ts":{"type":"string","description":"Timestamp of the swap in ISO format","example":"2025-04-04T12:00:00Z"},"quoteId":{"type":"string","description":"Quote ID used for this swap","example":"quote123"},"walletId":{"type":"string","description":"Wallet/Sub-wallet ID initiating the swap","example":"wallet_001"}},"required":["id","extId","fee","fromCoin","fromAmount","toCoin","toAmount","swapPrice","ts","quoteId","walletId"]},"CreateInstantSwapDto":{"type":"object","properties":{"walletId":{"type":"string","description":"Wallet/Sub-wallet ID","example":"wallet_abc123"},"extId":{"type":"string","description":"External reference ID from client's system."},"fromCoin":{"type":"string","description":"Source coin symbol","example":"USDT"},"fromAmount":{"type":"string","description":"Amount to swap from","example":100},"toCoin":{"type":"string","description":"Target coin symbol","example":"ETH"},"instantSync":{"type":"boolean","description":"Immediately sync wallet asset instead of queuing the sync job (default is queued)","example":false,"default":false,"deprecated":true}},"required":["walletId","fromCoin","fromAmount","toCoin"]},"GetInstantSwapOrderEntity":{"type":"object","properties":{"id":{"type":"string","description":"Unique swap ID","example":"swap_abc123"},"extId":{"type":"string","description":"Unique ext ID","example":"ext_abc123"},"fee":{"type":"string","description":"Swap fee","example":"0.0"},"fromCoin":{"type":"string","description":"Coin used in the swap","example":"USDT"},"fromAmount":{"type":"string","description":"Amount swapped from","example":"100"},"toCoin":{"type":"string","description":"Coin received after swap","example":"ETH"},"toAmount":{"type":"string","description":"Amount received after swap","example":"0.0234"},"swapPrice":{"type":"string","description":"Swap price used in transaction","example":"0.000234"},"timeStamp":{"type":"string","description":"Swap execution time","example":"2025-04-04T12:00:00Z"},"quoteId":{"type":"string","description":"Quote ID used for the swap","example":"quote123"},"walletId":{"type":"string","description":"Wallet/Sub-wallet ID associated with swap","example":"wallet_001"},"workspaceId":{"type":"string","description":"Workspace ID associated with the wallet/user","example":"workspace_xyz"}},"required":["id","extId","fee","fromCoin","fromAmount","toCoin","toAmount","swapPrice","timeStamp","quoteId","walletId","workspaceId"]}}},"externalDocs":{"description":"Postman Collection","url":"/docs/i-swap/swagger.json"},"security":[{"bearer":[]}]}