{"openapi":"3.0.0","paths":{"/v1/markets/prices":{"get":{"description":"Retrieve fiat prices for a specific country and coin with pagination.","operationId":"MarketController_getFiatPrices","parameters":[{"name":"baseCurrency","required":false,"in":"query","description":"The currency code for filtering fiat prices (e.g., USD, NGN)","schema":{"example":"USD","type":"string"}},{"name":"coins","required":false,"in":"query","description":"Coin symbol to filter, separated by commas (e.g., 'BTC, ETH')","schema":{"example":"BTC,ETH","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/GetFiatPricesEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get Fiat Prices","tags":["Market Endpoints"]}},"/v1/markets/tickers":{"get":{"description":"Retrieve market tickers with optional filters for pair symbols.","operationId":"MarketController_getTickers","parameters":[{"name":"symbol","required":false,"in":"query","description":"The pair symbol code (e.g., BTCUSDT)","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedResponseDto"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TickersEntity"}}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get Tickers","tags":["Market Endpoints"]}},"/v1/markets/ticker-info":{"get":{"description":"Fetch ticker information","operationId":"MarketController_getTradingPairs","parameters":[{"name":"symbol","required":true,"in":"query","description":"The trading pair symbol to filter by (e.g., BTCUSDT).","schema":{"example":"BTCUSDT","type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseDto"},{"properties":{"data":{"$ref":"#/components/schemas/TickersEntity"}}}]}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadErrorResponseSchema"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}}}},"422":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessedEntityErrorResponseSchema"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}}}}},"summary":"Get Ticker info","tags":["Market Endpoints"]}}},"info":{"title":"Markets","description":"OpenXSwitch Developer API Reference for Markets solution ","version":"1.0","contact":{}},"tags":[{"name":"Markets","description":""}],"servers":[{"url":"https://api.openxswitch.com"}],"components":{"securitySchemes":{"bearer":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"BadErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":400},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"NotFoundErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":404},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"Cannot GET /v1/..."}},"required":["statusCode","path","timestamp","message"]},"UnprocessedEntityErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":422},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"example":["param is required"],"type":"array","items":{"type":"string"}}},"required":["statusCode","path","timestamp","message"]},"InternalServerErrorResponseSchema":{"type":"object","properties":{"statusCode":{"type":"number","example":500},"path":{"type":"string","example":"/v1/..."},"timestamp":{"type":"string","example":"2025-03-13T12:34:56.789Z"},"message":{"type":"string","example":"......"}},"required":["statusCode","path","timestamp","message"]},"ResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object"}},"required":["success","data"]},"GetFiatPricesEntity":{"type":"object","properties":{"ETH":{"type":"string","description":"Ethereum balance","example":"0.022"},"BTC":{"type":"string","description":"Bitcoin balance","example":"0.322"},"USDT":{"type":"string","description":"USDT balance","example":"120.5"}},"required":["ETH","BTC","USDT"]},"PaginatedResponseDto":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object"}},"totalPage":{"type":"number"},"pageNo":{"type":"number"},"pageLimit":{"type":"number"}},"required":["success","data","totalPage","pageNo","pageLimit"]},"TickersEntity":{"type":"object","properties":{"symbol":{"type":"string","description":"Trading pair symbol","example":"BTCUSDT"},"baseCoin":{"type":"string","description":"Base currency","example":"BTC"},"quoteCoin":{"type":"string","description":"Quote currency","example":"USDT"},"minTradeAmount":{"type":"string","description":"Minimum trade amount","example":"0"},"maxTradeAmount":{"type":"string","description":"Maximum trade amount","example":"10000000000"},"pricePrecision":{"type":"string","description":"Price precision","example":"2"},"quantityPrecision":{"type":"string","description":"Quantity precision","example":"6"},"quotePrecision":{"type":"string","description":"Quote precision","example":"8"},"status":{"type":"string","description":"Trading pair status","example":"online"},"minTradeUSDT":{"type":"string","description":"Minimum trade amount in USDT","example":"1"},"buyLimitPriceRatio":{"type":"string","description":"Buy limit price ratio","example":"0.05"},"sellLimitPriceRatio":{"type":"string","description":"Sell limit price ratio","example":"0.05"},"orderQuantity":{"type":"string","description":"Order quantity","example":"200"},"openTime":{"type":"string","description":"Market open time","example":"1532454360000"}},"required":["symbol","baseCoin","quoteCoin","minTradeAmount","maxTradeAmount","pricePrecision","quantityPrecision","quotePrecision","status","minTradeUSDT","buyLimitPriceRatio","sellLimitPriceRatio","orderQuantity","openTime"]}}},"externalDocs":{"description":"Postman Collection","url":"/docs/markets/swagger.json"},"security":[{"bearer":[]}]}